body {
  background: #06367A;
 
}

h1 {
  color: #fff
}

.App {
  text-align: center;
}

button {
  width: 200px;
  height: 60px;
  background-color: #6663FE;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

button:active {
  box-shadow: 2px 2px 5px #fc894d;
}

.btn2 {
  background-color: #00A0B6;
}

.btn3 {
  background-color: #E06C9F;
}

.btn4 {
  background-color: #266FD5;
}

.btn5 {
  background-color: #7CA33D;
}


.button-wrapper {
  margin:20px;
}

.wrapper {
  margin: 0 50px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffff;
  color:#06367A
}

.listItem {

  width: 220px;
  margin: 0 20px;
  background-color: #EBF2FC;
  border-radius: 10px;
  
}

.error {
  font-weight: bold;
  color:#d81b1b;
}